<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ExtraText">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppFeria"
        android:usesCleartextTraffic="false"
        tools:targetApi="31" />

    <!-- Metadatos específicos para F-Droid -->
    <meta-data
        android:name="com.fdroid.fdroid"
        android:value="true" />

    <!-- Metadatos opcionales (personaliza según tu app) -->
    <meta-data
        android:name="app.version"
        android:value="@string/version_name" />
    <meta-data
        android:name="app.repository"
        android:value="https://github.com/222H17050/Prax" /> <!-- Si es open-source -->

    <activity android:exported="true">
        android:name=".MainActivity"
        android:exported="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppFeria">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".Activity2"
        android:exported="false" />
    <activity
        android:name=".DetalleNaveActivity"
        android:exported="false" />
    <activity
        android:name=".AtraccionesActivity"
        android:exported="false" />
</manifest>